body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px 0;
}

.mainsection {
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main_conatiner {
    text-align: center;
}

table {
    width: 100%;
}

td {
    padding: 8px;
}


.email,
#passwd,
#brthd,
#age {
    border: 1px solid rgb(213, 208, 208);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none; 
    border-radius: 4px; 
}
#first_name{
    border: 1px solid rgb(213, 208, 208);
}

.buttons {
    padding: 20px;
    margin-top: 20px;
    text-align: right;
}
.buttons input{
    padding: 5px;
    border-radius: 5px;
}

td{ 
text-align: justify;
}   
.row_tb td {
    vertical-align: top;
}
.secondtbl td{
    padding: 10px 10px;
}
td input{
    padding: 20px;
}
#tgg{
    width: 170%;
    margin-top: 30px;
    margin-bottom: 30px;
}
td select{
    padding: 10px 20px;
}
